<div class="sidebar-nav">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						影片管理
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse ">
				<div class="panel-body">
					<ul class="list-unstyled">
						<li><a href="/admin/list">影片列表</a></li>
						<!-- <li><a href="/admin/classify/item">编辑类别</a></li> -->
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h4 class="panel-title">
					<a
						class="collapsed"
						role="button"
						data-toggle="collapse"
						data-parent="#accordion"
						href="#collapseTwo"
					>
						账号管理
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
				<div class="panel-body">
					<ul class="list-unstyled">
						<li><a href="reset-password.html">重置密码</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
