<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/more.css">

    <script src="./js/bf.js"></script>
    <script src="./js/more.js"></script> -->

</head>

<body>
    <!-- 头部开始 -->
    <div class="header">
        <div class="header-box w clearFix">
            <div class="header-logo f_l"></div>
            <ul class="header-nav clearFix f_r">
                <li><a href="./login.html">登录</a></li>
                <li><a href="./register.html">注册</a></li>
                <li><a href="#">开通VIP</a></li>
                <li><a href="#">个人中心</a></li>
                <li><a href="./discuss.html">暴风首页</a></li>
            </ul>

        </div>
    </div>
    <!-- 头部结束 -->


    <!-- 内容部分开始 -->
    <div class="continer-box w">

        <!-- 导航栏开始 -->
        <div class="nav w">
            <!-- 导航部分 -->
            <ul class="clearFix" id="nav-list">
                <li><a href="./index.html">首页</a></li>
                <li class="nav-fist"><a href="#">点播片库</a></li>
                <li><a href="#">激活码兑换</a></li>
            </ul>

        </div>
        <!-- 导航栏结束 -->

        <!-- 商品展示部分开始 -->
        <div class="product w">
            <ul class="pro-nav clearFix" id="pro-adv">
                <li class="pro-nav-fist"><a href="#">全部</a></li>
                <li><a href="#">vip会员免费</a></li>
                <li><a href="#">vip折扣点播</a></li>
            </ul>

            <div class="most">
                <ul class="most-lists clearFix" id="most-lists">
                    <li class="list-first"><a href="#">最近更新</a></li>
                    <li><a href="#">最受欢迎</a></li>
                </ul>
            </div>

            <!-- 商品展示开始 -->

            <ul class="pro-ex clearFix " id="list">
               
               
            </ul>
            <!-- 商品展示结束 -->

        </div>
        <!-- 商品展示部分结束 -->




    </div>
    <!-- 内容部分结束 -->


              <!-- vip部分开始 -->
              <div class="vipBox indexw">
                    <div class="vip-all clearFix">
            
                        <!-- 第一板块 -->
                        <div class="vip1 clearFix">
                            <!-- 小图标 -->
                            <div class="viplogo1 f_l"></div>
                            <div class="viptxt f_l">
                                <a href="#" class="txt1">新手指南</a>
                                <a href="#" class="txt">什么是VIP，如何购买</a>
                                <a href="#" class="txt">爆豆说明</a>
                                <a href="#" class="txt">登录注册</a>
                            </div>
            
                        </div>
            
                        <!-- 第一板块 -->
                        <div class="vip1 clearFix">
                            <!-- 小图标 -->
                            <div class="viplogo1 f_l"></div>
                            <div class="viptxt f_l">
                                <a href="#" class="txt1">新手指南</a>
                                <a href="#" class="txt">什么是VIP，如何购买</a>
                                <a href="#" class="txt">爆豆说明</a>
                                <a href="#" class="txt">登录注册</a>
                            </div>
            
                        </div>
            
                        <!-- 第一板块 -->
                        <div class="vip1 clearFix">
                            <!-- 小图标 -->
                            <div class="viplogo1 f_l"></div>
                            <div class="viptxt f_l">
                                <a href="#" class="txt1">新手指南</a>
                                <a href="#" class="txt">什么是VIP，如何购买</a>
                                <a href="#" class="txt">爆豆说明</a>
                                <a href="#" class="txt">登录注册</a>
                            </div>
            
                        </div>
            
                        <!-- 最后板块 -->
                        <div class="vip1 viplase clearFix">
                            <!-- 小图标 -->
                            <div class="viplogo1 f_l"></div>
                            <div class="viptxt f_l">
                                <a href="#" class="txt1">新手指南</a>
                                <a href="#" class="txt">什么是VIP，如何购买</a>
                                <a href="#" class="txt">爆豆说明</a>
                                <a href="#" class="txt">登录注册</a>
                            </div>
            
                        </div>
            
            
                    </div>
            
                </div>
                <!-- vip部分结束 -->
            
            
            
                 <!-- 说明开始 -->
                 <div class="footer">
                        <p>客服QQ: 800111739 电话: 4000987846（周一至周末9:30-21:30）</p>
                        <p>暴风集团股份有限公司</p>
                        <p>京CP证070364号京网文[2014] 0921-221号互联网药品信息服务资格证书(京)-非经营性2008-0039广播电视节目制作经营许可证: (京)字第01166号</p>
                        <p>京公网安备: 11010802904415信息网络传播视听许可证号: 0108298</p>
                    </div>
                 <!-- 说明结束 -->
</body>

</html>