<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<link rel="stylesheet" href="/public/css/app.css" />
		<style>
			img {
				width: 100px;
				height: 100px;
			}
		</style>
		<script src="/public/js/app.js"></script>
	</head>
	<body>
		<form action="/index" method="POST">
			<input type="text" name="user" />
			<input type="text" name="pwd" />
			<input type="submit" />
		</form>
		<a href="/about">关于</a>
		<img src="/public/image/timg.jpg" alt="" />
	</body>
</html>
