<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>
	<body>
    首页
    <ul>
      <%
        var currpage = page;
      %>
      <% for(let i=0;i<names.length;i++) {
         let name = names[i];
      %>
        <% if(name == '乔碧萝'){continue;}%>
        <li>
          <%= name%>
        </li>
      <% } %>
    </ul>
    <h1>
      <%= currpage %>
    </h1>
    <!-- include用来包含其他的公共页面 -->
    <%- include('footer.html',{title:'底部'}) %>
	</body>
</html>
