<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/demand.css">
    <link rel="short icon" href="/images/favicon.ico" charset="UTF-8">
</head>

<body>
    <div id="header">
        <div class="wrap clearfix">
            <h1>
                <a href="#">暴风VIP会员</a>
            </h1>
            <ul class="clearfix">
                <li>
                    <a href="#">登录</a>
                </li>
                <li>
                    <a href="#">注册</a>
                </li>
                <li>
                    <a href="#">开通VIP</a>
                </li>
                <li>
                    <a href="#">个人中心</a>
                </li>
                <li>
                    <a href="#">暴风首页</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="nav" class="wrap">
        <ul>
            <li>
                <a href="/">首页</a>
            </li>
            <li class="active">
                <a href="#">点播片库</a>
            </li>
            <li>
                <a href="#">激活码兑换</a>
            </li>
        </ul>
    </div>
    <div id="sort" class="wrap wrap-bc">
        <div class="wrap1">
            <ul class="clearfix">
                <li class="active">
                    <a href="#">全部</a>
                </li>
                <li>
                    <a href="#">VIP会员免费</a>
                </li>
                <li>
                    <a href="#">VIP会员折扣点播</a>
                </li>
            </ul>
            <div class="most-list clearfix">
                <p class="living">
                    <a href="#">最近更新</a>
                </p>
                <p>
                    <a href="#">最受欢迎</a>
                </p>
            </div>

        </div>
    </div>
    <div id="films-1" class="wrap wrap-bc">
        <div class="wrap1">
            <ul class="clearfix first"></ul>
            <ul class="clearfix "></ul>
            <ul class="clearfix "></ul>
            <ul class="clearfix "></ul>
            <ul class="clearfix "></ul>
            <ul class="clearfix "></ul>
            <ul class="clearfix "></ul>
        </div>
    </div>
    <div id="someway" class="wrap add">
            <p class="line line1"></p>
            <p class="line line2"></p>
            <ul class="clearfix">
                <li class="clearfix first">
                    <div class="bg bg1"></div>
                    <div class="txt">
                        <h3>
                            <a href="#">新手指南</a>
                        </h3>
                        <p>
                            <a href="#">什么是VIP，如何购买</a>
                        </p>
                        <p>
                            <a href="#">暴豆说明</a>
                        </p>
                        <p>
                            <a href="#">登录与注册</a>
                        </p>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="bg bg2"></div>
                    <div class="txt">
                        <h3>
                            <a href="#">特权问题</a>
                        </h3>
                        <p>
                            <a href="#">VIP特权</a>
                        </p>
                        <p>
                            <a href="#">VIP权限设置</a>
                        </p>
                        <p>
                            <a href="#">如何购买付费点播影片</a>
                        </p>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="bg bg3"></div>
                    <div class="txt">
                        <h3>
                            <a href="#">付款方式</a>
                        </h3>
                        <p>
                            <a href="#">VIP购买支付流程</a>
                        </p>
                        <p>
                            <a href="#">优惠券的支付与使用</a>
                        </p>
                        <p>
                            <a href="#">支付常见问题解答</a>
                        </p>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="bg bg4"></div>
                    <div class="txt">
                        <h3>
                            <a href="#">其他问题</a>
                        </h3>
                        <p>
                            <a href="#">常见问题解答</a>
                        </p>
                        <p>
                            <a href="#">VIP会员服务协议</a>
                        </p>
                        <p>
                            <a href="#">暴风论坛</a>
                        </p>
                    </div>
                </li>
            </ul>
            <p class="line line2"></p>
            <p class="line line1"></p>
        </div>
        <div id="footer">
            <div class="content wrap">
                <p>VIP专属客服QQ:800111739电话:4000987846(周一至周日9:30 - 18:30)</p>
                <p>暴风集团股份有限公司</p>
                <p>
                    <a href="#">京ICP证070364号</a>
                    <a href="#">京网文【2017】10770-1255号</a>
                    <a href="#">互联网药品信息服务资格证书(京)-非经营性-2013-0080</a>
                    <a href="#">广播电视节目制作经营许可证：(京)字第01166号</a>
                </p>
                <p>
                    <a href="#">京公网安备 11010802020226号</a>
                    <a href="#">京ICP备08011423号</a>
                </p>
            </div>
        </div>
    

    <script src="js/tools.js"></script>
    <script src="js/header.js"></script>
    <script src="js/onclick.js"></script>
    <script src="js/films-1.js"></script>

</body>

</html>