<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/discuss.css">
    <link rel="stylesheet" href="./css/product.css">

    <script src="./js/bf.js"></script>
    <script src="./js/discuss.js"></script> -->

</head>

<body>

    <!-- 头部开始 -->

    <div class="header">
        <div class="header-box discussw clearFix">
            <div class="icon-logo"></div>

            <ul class="clearFix login-meu">
                <li><a href="./index.html">首页</a></li>
                <li><a href="#">导航
                    </a></li>
            </ul>
            <span class="header-icon2"></span>

            <input type="search" class="search f_l" placeholder="蓝猫淘气3000问之消防大本营">
            <div class="icon-search"></div>
            <!-- 右边小图标 -->

            <div class="header-see f_l">
                <span class="see-icon1"></span>
                <span>看过</span>
            </div>

            <div class="header-see f_l">
                <span class="see-icon2"></span>
                <span>收藏</span>
            </div>

            <div class="header-see f_l">
                <span class="see-icon3"></span>
                <span>客户端</span>
            </div>
            <!-- 最后一个小图标 -->
            <div class="header-see f_l see-last">
                <span class="see-icon4"></span>
                <span>登录/注册</span>
            </div>

        </div>
    </div>

    <!-- 头部结束 -->




    <!-- 导航开始 -->
    <div class="dis-navbox">
        <div class="dis-nav discussw clearFix">
            <div class="nav-left f_l">
                <p class="tit">羞羞的铁拳</p>
                <ul class="nav-box clearFix">
                    <li><a href="#">电影</a></li>
                    <li><a href="#">></a></li>
                    <li><a href="#">内地</a></li>
                    <li><a href="#">></a></li>
                    <li><a href="#">喜剧/剧情</a></li>
                    <li><a href="#">></a></li>
                    <li><a href="#">羞羞的铁拳</a></li>
                </ul>
            </div>
            <div class="nav-right f_r">
                <img src="../images/aa_05.jpg" alt="">
            </div>
        </div>


        <div class="play discussw clearFix">
            <div class="play-right">
                <div class="right-top clearFix">
                    <p class="top-selec firsttop">选集</p>
                    <p class="top-modity">商品</p>
                </div>
                <!-- 右下选集部分 -->
                <div class="right-inner clearFix">
                    <!-- 选集 -->
                    <div class="Anth f_l" id="scr-container">
                        <p class="Anth-row clearFix">
                            <span class="f_l">野人族女王原始森林探秘食人族</span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">迷雾少女，迷雾锁清秋少女俏娇羞</span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">疯岳撬佳人岳云鹏狂追袁姗姗</span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">龙泉沟,大学生村官坚守农村</span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">复仇之火，乡村农民为母报仇</span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">悟空传最叛逆悟空横空出世
                            </span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">拳霸2.拳霸托尼贾大打醉拳
                            </span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">战刀屠狼深入狼穴打击犯罪
                            </span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">拳霸2.拳霸托尼贾大打醉拳
                            </span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">战刀屠狼深入狼穴打击犯罪
                            </span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">拳霸2.拳霸托尼贾大打醉拳
                            </span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">战刀屠狼深入狼穴打击犯罪
                            </span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">拳霸2.拳霸托尼贾大打醉拳
                            </span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">战刀屠狼深入狼穴打击犯罪
                            </span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">拳霸2.拳霸托尼贾大打醉拳
                            </span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">战刀屠狼深入狼穴打击犯罪
                            </span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">拳霸2.拳霸托尼贾大打醉拳
                            </span>
                            <span class="icon-play f_r"></span>
                        </p>
                        <p class="Anth-row clearFix">
                            <span class="f_l">战刀屠狼深入狼穴打击犯罪
                            </span>
                            <span class="icon-play f_r"></span>
                        </p>

                    </div>
                    <!-- 滚动条部分 -->
                    <div class="outer f_r" id="src-outer">
                        <div class="inner"></div>
                    </div>


                </div>
            </div>
        </div>


        <!-- 播放下点赞部分开始 -->
        <div class="play-spot discussw clearFix">
            <div class="spot-riht f_r">
                <a href="#">
                    暴风影音客户端下载
                </a>
            </div>

        </div>
        <!-- 播放下点赞部分结束 -->


    </div>
    <!-- 导航结束 -->


    <!-- 广告开始1 -->
    <div class="dis-adv discussw">
        <img src="../images/adv01.jpg" alt="">
        <img src="../images/adv02.jpg" alt="">
        <img src="../images/adv03.jpg" alt="">
        <img src="../images/adv04.jpg" alt="">
        <img src="../images/adv05.jpg" alt="">
        <img src="../images/adv06.jpg" alt="">


    </div>
    <!-- 广告结束 1-->


    <!-- 产品开始 -->
    <div class="dis-product discussw clearFix">
        <!-- 左边栏开始 -->
        <div class="pro-left f_l">
            <!-- 猜你喜欢开始 -->
            <div class="adv-more clearFix">
                <span class="adv-tit">猜你喜欢</span>

            </div>


            <!-- 猜你喜欢结束 -->

            <ul class="pro-ex clearFix " id="list"></ul>


            <!-- 热门推荐开始 -->

            <div class="recom clearFix">
                <div class="recom-left f_l clearFix">
                    <!-- 强力推荐开始 -->

                    <div class="adv-more clearFix">
                        <span class="adv-tit">强力推荐</span>
                        <a href="#">
                            更多>>
                        </a>
                    </div>

                    <div class="more-pic  clearFix " id="more-pic">
                        <a href="#" class="pic1">
                            <img src="../images/240_180_1533800269.jpg" alt="">
                            <span>开封府</span>
                        </a>
                    </div>

                </div>







                <!-- 电影版开始 -->

                <div class="recom-right f_r">
                    <div class="adv-more  clearFix">
                        <span class="adv-tit">电影版</span>
                        <a href="#">
                            更多>>
                        </a>
                    </div>
                    <!-- 电影排名开始 -->
                    <div id="movieBox">
                        <div class="movieBox">

                            <p class="recom-row1 clearFix first-row1">
                                <span class="num f_l">1</span>
                                <span class="movie-name f_l">龙泉沟</span>
                                <span class="fen f_r">4.3</span>
                            </p>
                            <div class="row-pic1 fist-pic">
                                <img src="../images/adv-long.jpg" alt="">
                                <div class="pic-bottom">
                                    <span class="num1 f_l">1</span>
                                    <span class="movie-name f_l">龙泉沟</span>
                                </div>
                            </div>
                        </div>

                        <div class="movieBox">

                            <p class="recom-row1 clearFix">
                                <span class="num f_l">1</span>
                                <span class="movie-name f_l">龙泉沟</span>
                                <span class="fen f_r">4.3</span>
                            </p>
                            <div class="row-pic1 ">
                                <img src="../images/adv-long.jpg" alt="">
                                <div class="pic-bottom">
                                    <span class="num1 f_l">1</span>
                                    <span class="movie-name f_l">龙泉沟</span>
                                </div>
                            </div>
                        </div>

                        <div class="movieBox">

                            <p class="recom-row1 clearFix">
                                <span class="num f_l">1</span>
                                <span class="movie-name f_l">龙泉沟</span>
                                <span class="fen f_r">4.3</span>
                            </p>
                            <div class="row-pic1 ">
                                <img src="../images/adv-long.jpg" alt="">
                                <div class="pic-bottom">
                                    <span class="num1 f_l">1</span>
                                    <span class="movie-name f_l">龙泉沟</span>
                                </div>
                            </div>
                        </div>

                        <div class="movieBox">

                            <p class="recom-row1 clearFix">
                                <span class="num f_l">1</span>
                                <span class="movie-name f_l">龙泉沟</span>
                                <span class="fen f_r">4.3</span>
                            </p>
                            <div class="row-pic1 ">
                                <img src="../images/adv-long.jpg" alt="">
                                <div class="pic-bottom">
                                    <span class="num1 f_l">1</span>
                                    <span class="movie-name f_l">龙泉沟</span>
                                </div>
                            </div>
                        </div>

                        <div class="movieBox">

                            <p class="recom-row1 clearFix">
                                <span class="num f_l">1</span>
                                <span class="movie-name f_l">龙泉沟</span>
                                <span class="fen f_r">4.3</span>
                            </p>
                            <div class="row-pic1 ">
                                <img src="../images/adv-long.jpg" alt="">
                                <div class="pic-bottom">
                                    <span class="num1 f_l">1</span>
                                    <span class="movie-name f_l">龙泉沟</span>
                                </div>
                            </div>
                        </div>

                        <div class="movieBox">

                            <p class="recom-row1 clearFix">
                                <span class="num f_l">1</span>
                                <span class="movie-name f_l">龙泉沟</span>
                                <span class="fen f_r">4.3</span>
                            </p>
                            <div class="row-pic1 ">
                                <img src="../images/adv-long.jpg" alt="">
                                <div class="pic-bottom">
                                    <span class="num1 f_l">1</span>
                                    <span class="movie-name f_l">龙泉沟</span>
                                </div>
                            </div>
                        </div>

                        <div class="movieBox">

                            <p class="recom-row1 clearFix">
                                <span class="num f_l">1</span>
                                <span class="movie-name f_l">龙泉沟</span>
                                <span class="fen f_r">4.3</span>
                            </p>
                            <div class="row-pic1 ">
                                <img src="../images/adv-long.jpg" alt="">
                                <div class="pic-bottom">
                                    <span class="num1 f_l">1</span>
                                    <span class="movie-name f_l">龙泉沟</span>
                                </div>
                            </div>
                        </div>

                        <div class="movieBox">

                            <p class="recom-row1 clearFix">
                                <span class="num f_l">1</span>
                                <span class="movie-name f_l">龙泉沟</span>
                                <span class="fen f_r">4.3</span>
                            </p>
                            <div class="row-pic1 ">
                                <img src="../images/adv-long.jpg" alt="">
                                <div class="pic-bottom">
                                    <span class="num1 f_l">1</span>
                                    <span class="movie-name f_l">龙泉沟</span>
                                </div>
                            </div>
                        </div>

                        <div class="movieBox">

                            <p class="recom-row1 clearFix">
                                <span class="num f_l">1</span>
                                <span class="movie-name f_l">龙泉沟</span>
                                <span class="fen f_r">4.3</span>
                            </p>
                            <div class="row-pic1 ">
                                <img src="../images/adv-long.jpg" alt="">
                                <div class="pic-bottom">
                                    <span class="num1 f_l">1</span>
                                    <span class="movie-name f_l">龙泉沟</span>
                                </div>
                            </div>
                        </div>

                        <div class="movieBox">

                            <p class="recom-row1 clearFix">
                                <span class="num f_l">1</span>
                                <span class="movie-name f_l">龙泉沟</span>
                                <span class="fen f_r">4.3</span>
                            </p>
                            <div class="row-pic1 ">
                                <img src="../images/adv-long.jpg" alt="">
                                <div class="pic-bottom">
                                    <span class="num1 f_l">1</span>
                                    <span class="movie-name f_l">龙泉沟</span>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- 电影排名结束 -->

                </div>
                <!-- 电影版结束 -->
            </div>
            <!-- 热门推荐结束 -->

            <!-- 左边栏结束 -->
        </div>
        <div class="pro-right f_r">
            <!--评价导航开始 -->
            <div class="adv-more clearFix">
                <span class="adv-tit">评论</span>
                <span class="txt-All">(共463条)</span>
                <!-- remain 还剩-->
                <span class="inp">还可以输入<b id="remain">140</b>字</span>

            </div>


            <!-- 输入框 -->
            <textarea name="" class="textInp" cols="30" rows="10" placeholder="快来吐个槽吧！" id="inparea"></textarea>
         
            <button class="comment" id="comment">发表评论</button>
            <p class="bind-txt">评论需绑定手机<a href="#">立即绑定手机</a></p>

            <ul class="inp-list clearFix">
                <li class="inp-list-first"><a href="#">按热度</a></li>
                <li><a href="#">按最新</a></li>
            </ul>
         



            <!-- 评论框开始 -->
            <div class="discuss-box" id="discuss-box">
                

            </div>
            <!-- 评论框结束 -->
        </div>
    </div>
    <!-- 产品结束 -->




    <!-- 广告开始3 -->
    <div class="dis-adv ">
        <img src="../images/adv01.jpg" alt="">
        <img src="../images/adv02.jpg" alt="">
        <img src="../images/adv03.jpg" alt="">
        <img src="../images/adv04.jpg" alt="">
        <img src="../images/adv05.jpg" alt="">
        <img src="../images/adv04.jpg" alt="">
        <img src="../images/adv05.jpg" alt="">


    </div>
    <!-- 广告结束3 -->
    <div class="discussw hrbox"></div>

    <!-- 说明开始 -->
    <div class="footer">
        <ul class="clearFix">
            <li><a href="#">投资者关系</a></li>
            <li>|</li>
            <li><a href="#">影音论坛导航</a></li>
            <li>|</li>
            <li><a href="#">加入暴风</a></li>
            <li>|</li>
            <li><a href="#">联系我们</a></li>
            <li>|</li>
            <li><a href="#">暴风无线产品</a></li>
            <li>|</li>
            <li><a href="#">暴风实验室</a></li>
            <li>|</li>
            <li><a href="#">暴风实验室</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
        </ul>
        <p>暴风集团股份有限公司联系电话: 400-098-7846 (工作日9:30--21:30 )</p>
        <p>京ICP证070364号 京网文[2014] 0921-221号 互联网药品信息服务资格证书(京)-非经营性2008-0039 广播电视节目制作经营许可证: (京)字第01166号</p>
        <p>京公网安备11010802020226号京ICP备08011423号 信息网络传播视听许可证号 : 0108298 营业性演出许可证网络出版服务许可证</p>
        <p>海淀警方预防电信诈骗宣传首 都网络安全日</p>
    </div>
    <!-- 说明结束 -->





</body>

</html>