<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>

		<!-- <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/login.css">
    <script src="./js/login.js"></script> -->
	</head>

	<body>
		<!-- 头部的logo -->
		<div class="bf-header w">
			<a href="./index.html">
			<div class="header-logo"></div>
			</a>
		</div>
		<!-- 头部的logo -->
		<!-- 中间类容部分 -->
		<div class="bf-container">
			<div class="container-w w clearFix">
				<img src="../images/register_05.jpg" alt="" class="f_l" />
				<!-- 注册框 -->
				<div class="container-zhuce f_l">
					<img src="../images/login-logo_05.jpg" alt="" />
					<span class="zhuce-s1"></span>
					<input type="text" placeholder="输入手机/邮箱/用户名" class="zhuce-number" />
					<span class="zhuce-s2"></span>
					<input type="password" placeholder="输入密码" class="zhuce-number" />

					<!-- 协议 -->
					<div class="zhuce-Agre clearFix">
						<div class="icon-02"></div>
						<strong class="Agre">记住我</strong>

						<a href="./register.html" class="f_r login">立即注册</a>
						<i class=" shu f_r">|</i>
						<a href="#" class="f_r login">找回密码</a>
					</div>

					<a class="zhuce" id="login">登录</a>
					<div class="clearFix">
						<div class="icon_01 f_l"></div>
						<strong class="text1">遇到问题</strong>
						<a href="#" class="f_r num">手机验证码登录></a>
					</div>

					<p class="text2">其他方式登录</p>

					<div class="icon-qq"></div>
				</div>
			</div>
		</div>

		<!-- 中间类容部分 -->

		<!-- 说明开始 -->
		<div class="footer">
			<p>客服QQ: 800111739 电话: 4000987846（周一至周末9:30-21:30）</p>
			<p>暴风集团股份有限公司</p>
		</div>
		<!-- 说明结束 -->
	</body>
</html>
