body{
    background-color: #f8f8f8;
}
.wrap2{
    width: 1000px;
    margin:0 auto ;
}
#header1 h1{
    width: 175px;
    height: 38px;
    background:url(../images/indexicons.png) 0 -565px no-repeat;
    font-size: 0;
    margin-top: 25px;
    padding-bottom: 28px; 
}
#mainpart{
    width: 100%;
    background-color: #46a4e9;
}
#mainpart .wrap2.main{
    position: relative;
    height: 542px;
    background: url(../images/logo-bg.png) no-repeat;
}
#mainpart .wrap2.main .login-box{
    position: absolute;
    padding: 22px 24px 21px;
    top:53px;
    right: 40px;
    width: 284px;
    height: 403px;
    background-color: #fff;
}
#mainpart .wrap2.main .login-box h2{
    width: 81px;
    height: 19px;
    background: url(../images/logoicon.png) 0 -2px no-repeat;
    font-size: 0;
}
#mainpart .wrap2.main .login-box .prompt{
    width: 252px;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    color: #ed2222;
    /* background-color: pink; */
}

#mainpart .wrap2.main .login-box .content .item{
    width: 252px;
    height: 30px;
    margin-top: 10px;
    padding-left: 30px;
    border:none;
    border:1px solid #dddddd;
    
}
#mainpart .wrap2.main .login-box .content .item.i2{
    width: 222px;
    padding-right: 30px;
}

#mainpart .wrap2.main .login-box .content .ipmessage{
    width: 110px;
    height: 30px;
    padding-left: 30px;
    border:none;
    border:1px solid #dddddd;
}
#mainpart .wrap2.main .login-box .content .test{
    margin-top: 10px;
}
#mainpart .wrap2.main .login-box .content .test .testBox{
   float: left;
   width: 142px;
}
#mainpart .wrap2.main .login-box .content .test .part-right{
   float: right;
}
#mainpart .wrap2.main .login-box .content .test .part-right div{
    float: left;
    border:1px solid #dddddd;
}

#mainpart .wrap2.main .login-box .content .test .part-right .code
{
     font-family:Arial;
     font-style:italic;
     color:rgb(41, 41, 201);
     font-size:20px;
     letter-spacing:3px;
     font-weight:bolder;            
     width:90px;
     height:30px;
     line-height:30px;
     text-align:center;
     vertical-align:middle;
     background-color:#fff;
     border:1px solid #dddddd;
 }
#mainpart .wrap2.main .login-box .content .test .part-right .reflash{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: url(../images/logoicon.png) -120px -30px no-repeat;
}
#mainpart .wrap2.main .login-box .content .getmessage{
    margin-top: 10px;
}
#mainpart .wrap2.main .login-box .content .getmessage .part-left{
   float: left;
}
#mainpart .wrap2.main .login-box .content .getmessage .part-right{
    float: right;
    width: 132px;
    height: 30px;
    border:1px solid #dddddd;
    text-align: center;
    line-height: 30px;
    color: #999999;
}
#mainpart .wrap2.main .login-box .content .getmessage .part-right a{
    display: block;
    width: 132px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #1a9eff;
    background: url(../images/logoicon.png) -180px -30px no-repeat;
}


#mainpart .wrap2.main .login-box .content .count {
    margin: 10px 0;
}
#mainpart .wrap2.main .login-box .content .count .part-left {
    float: left;
    height: 14px;
}
#mainpart .wrap2.main .login-box .content .count a{
    float: left;
    vertical-align: middle;
    color: #1a9eff
}
#mainpart .wrap2.main .login-box .content .count .part-right{
    float: right;
}
#mainpart .wrap2.main .login-box .content .count .part-left i{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/logoicon.png) 0 -66px no-repeat;
    vertical-align:middle;
}
#mainpart .wrap2.main .login-box .content .count .part-left span{
    vertical-align:middle;
    color: #999999;
}


#mainpart .wrap2.main .login-box .content .login-btn{
    margin-top: 10px;
    width: 284px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    letter-spacing: 1em;
    background-color: #1a9eff;
    color:#fff;
    text-align: center;
}
#mainpart .wrap2.main .login-box .content .someway{
    margin-top: 10px;
}
#mainpart .wrap2.main .login-box .content .someway .part-left{
    float: left;
}
#mainpart .wrap2.main .login-box .content .someway .part-left i{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/logoicon.png) 0 -385px no-repeat;
    vertical-align:middle;
}
#mainpart .wrap2.main .login-box .content .someway .part-left span a{
    color:#999999;
    vertical-align: middle;
}
#mainpart .wrap2.main .login-box .content .someway .part-left span a:hover{
    color:#1a9eff;
}



#mainpart .wrap2.main .login-box .another{
    position: absolute;
    bottom: 20px;
    right: 22px;
    width: 284px;
    height: 58px;
}
#mainpart .wrap2.main .login-box .another .txt{
    position: relative;
    width: 238px;
    height: 16px;
    text-align: center;
    margin: 0 auto;
}
#mainpart .wrap2.main .login-box .another .txt p{
    position: absolute;
    width: 78px;
    height: 1px;
    background-color: #e6e6e6;
    top: 50%;
    margin-top: 1px;
}
#mainpart .wrap2.main .login-box .another .txt .line-left{
    left: 0;
}
#mainpart .wrap2.main .login-box .another .txt .line-right{
    right: 0;
}
#mainpart .wrap2.main .login-box .another .txt span{
    color:#999999;
}
#mainpart .wrap2.main .login-box .another ul{
    width: 133px;
    padding-top: 12px;
    height: 42px;
    margin:0 auto;
}
#mainpart .wrap2.main .login-box .another ul li{
    margin-left: 20px;
    float: left;
}
#mainpart .wrap2.main .login-box .another ul li a{
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/logoicon.png) no-repeat;
}
#mainpart .wrap2.main .login-box .another ul li.item1 {
    margin-left: 0;
}
#mainpart .wrap2.main .login-box .another ul li.item1 a{
    background-position: 0 -350px;
}
#mainpart .wrap2.main .login-box .another ul li.item2 a{
    background-position: -30px -350px;
}
#mainpart .wrap2.main .login-box .another ul li.item3 a{
    background-position: -60px -350px;
}
#mainpart .wrap2.main .login-box .i5{
    position: absolute;
    width: 30px;
    height: 30px;
}
#mainpart .wrap2.main .login-box .num-icon{
    top:82px;
    right:277px;
    background: url(../images/logoicon.png) 0 -30px no-repeat;
}
#mainpart .wrap2.main .login-box .pass-icon{
    background: url(../images/logoicon.png) -30px -30px no-repeat;
    top: 124px;
    right: 277px;
}
#mainpart .wrap2.main .login-box .safe1-icon{
    background: url(../images/logoicon.png) -60px -30px no-repeat;
    left: 25px;
    top: 166px;
}
#mainpart .wrap2.main .login-box .safe2-icon{
    background: url(../images/logoicon.png) -60px -30px no-repeat;
    left: 25px;
    top: 208px;
}
#mainpart .wrap2.main .login-box .strong-icon{
    background: url(../images/logoicon.png) -37px -67px no-repeat;
    right: 25px;
    top: 124px;
}
#mainpart .wrap2.main .login-box .zwf{
    position: absolute;
    color:#757575;
}
#mainpart .wrap2.main .login-box .zwf.z1{
    top:87px;
    left: 56px;
}
#mainpart .wrap2.main .login-box .zwf.z2{
    top:129px;
    left: 56px;
}
#mainpart .wrap2.main .login-box .zwf.z3{
     left: 56px;
     top: 172px;
}
#mainpart .wrap2.main .login-box .zwf.z4{
    left: 56px;
    top: 214px;
}
#footer .content{
    padding: 30px 0 40px;
}